(
    trunk_settings: (
        count: 1,
        root_pos: (0.0, 0.0, 0.0),
        branch_len: Value(5.0),
        initial_dir: Random(
            y_rotation_range: Range(0, 360),
            z_rotation_max: Range(2, 5),
        ),
    ),
    build_steps: [
        GrowDirection((
            times: Value(5),
            // trunk_growth_direction: Normal,
            trunk_growth_direction: GravityLean(strength: 0.6),
            branch_len: Value(6.0),
            branch_thickness: ValueOrRange(Value(1.0)),
            decoration: Single(VoxelMapping(name: "bark")),
        )),
        SpawnAttractor(
            (
                pos: (0.0, 17.0, 0.0),
                shape: Cube((
                    size_x: 15.0,
                    size_y: 10.0,
                    size_z: 15.,
                )),
                attractor_spacing: AttractorSpacing(
                    attractor_spacing: 3.0,
                    jitter_ratio: 1.0,
                ),
                    
            )
        ),
        GrowToAttractors((
            times: Value(3),
            branch_len: Value(6.0),
            kill_distance: 4.0,
            leaf_attraction_dist: 6.0,
            branch_thickness: ValueOrRange(Value(1.0)),
            decoration: Single(VoxelMapping(name: "bark")),
        )),
        // GrowTrunk((
        //     times: Value(1),
        //     trunk_growth_direction: Normal,
        //     branch_len: Value(17.0),
        // )),
    ],
    bark_decorator: Single(VoxelMapping(name: "bark")),
    // Thin trunk tapering to nothing at crown
    branch_size_setting: Generation(sizes: [1.8, 1.2, 0.8]),
    branch_root_size_increaser: Some((height: 5.0, additional_size: 1.2)),
)

