(asset:"eiffel_tree.shrubbery.ron",seeds:[(seed:42,name:"seed_42",hash:"8361d9aefe3e2422"),(seed:12345,name:"seed_12345",hash:"e8d1b3a0d6deaabf"),(seed:999999,name:"seed_999999",hash:"27367525acafabbc")])