(asset:"fantasy_tree.shrubbery.ron",seeds:[(seed:42,name:"seed_42",hash:"c4b60247c9a30ecd"),(seed:12345,name:"seed_12345",hash:"4e6cde60278abb7d"),(seed:999999,name:"seed_999999",hash:"eea89cb2f5f78b91")])