(
    build_steps: [
        SpawnRoot((
            initial_dir: Random(
                y_rotation_range: Range(0, 360),
                z_rotation_max: Range(3, 4),
            ),
        )),
        Grow((
            id: AssignId(1),
            times: Value(9),
            filter: Filter(
                ignore_root: false,
                ignore_shapes: true,
                id: All,
                iteration: All,
            ),
            dir: GravityLean(strength: 0.35),
            length: Value(9.0),
            thickness: IterationScale( min: Value(5.0), max: Value(1.0) ),
            voxel: Value(Gradient((
                sampling_method: IterationPercent,
                modulation: None,
                steps: [
                    (percent: 0.4,  voxel: (name: "bark_dark")),
                    (percent: 0.55, voxel: (name: "bark")),
                    (percent: 1.0,  voxel: (name: "bark_bright")),
                ],
            ))),
        )),
        Grow((
            filter: Filter( id: All, iteration: Greater(2), ),
            dir: Target(Vec3(0,1,0)),
            length: Value(9.0),
            thickness: ValueOrRange(Value(1.0)),
            voxel: Value(Solid(VoxelMapping(name: "bark"))),
        )),
        Shape((
            shape: Sphere(radius: Range(3.0, 7.0)),
            voxel: Value(Gradient((
                modulation: Some(Random(percent_offset: 0.1)),
                steps: [
                    (percent: 0.33, voxel: (name: "leaf_dark")),
                    (percent: 0.66, voxel: (name: "leaf_mid")),
                    (percent: 1.0,  voxel: (name: "leaf_bright")),
                ],
            ))),
            filter: Filter( ignore_shapes: true, id: Last, iteration: All, ),
        )),
        SpawnAttractors((
            location: FromBranch((
                offset: WorldDown(20.0),
                filter: Filter(ignore_shapes: true, id: Target(1), iteration: Greater(3), ),
            )),
            shape: Cube((size_x: 15.0, size_y: 1.0, size_z: 15.0)),
            attractor_spacing: AttractorSpacing(attractor_spacing: 5.0, jitter_ratio: 1.0),
        )),
        Grow((
            dir: Attractor((
                kill_distance: 2.5,
                attract_distance: 19.0,
            )),
            times: Value(4),
            filter: Filter( id: Target(1), iteration: Greater(4), ),
            length: Value(8.0),
            voxel: Value(Solid(VoxelMapping(name: "leaf_bright"))),
        )),
        Shape((
            shape: StarLeaf((
                arm_length: Value(3.0),
                arm_width: 2.5,
                thickness: 2,
                branch_sharpness: 0.6,
                droop: 0.9,
                tip_lift: 0.0,
            )),
            filter: Filter(iteration: Last),
            voxel: Value(Solid(VoxelMapping(name: "leaf_dark"))),
        )),
    ],
)
