(
    build_steps: [
        SpawnRoot(()),
        Grow((
            length: Value(3.0),
            voxel: Value(Solid(VoxelMapping(name: "leaf_dark"))),
            filter: Filter( ignore_root: false, ),
        )),
        Shape((
            shape: StarLeaf((
                arm_length: Value(10.0),
                arm_width: 3.5,
                thickness: 2,
                branch_sharpness: 0.6,
                droop: 0.0,
                tip_lift: 7.0,
            )),
            voxel: Value(Gradient((
                modulation: Some(Random(percent_offset: 0.08)),
                steps: [
                    (percent: 0.55, voxel: (name: "leaf_dark")),
                    (percent: 0.75, voxel: (name: "leaf_mid")),
                    (percent: 1.0, voxel: (name: "leaf_bright")),
                ],
            ))),
        )),
        Grow((
            times: Value(3),
            dir: GravityLean(strength: 0.6),
            length: Value(5.0),
            thickness: ValueOrRange(Value(0.8)),
            voxel: Value(Solid(VoxelMapping(name: "leaf_dark"))),
            filter: Filter(ignore_shapes: false, ),
        )),
        Shape((
            shape: StarLeaf((
                arm_length: Value(4.0),
                arm_width: 3.5,
                thickness: 2,
                branch_sharpness: 0.6,
                droop: 0.0,
                tip_lift: 3.0,
            )),
            filter: Filter( iteration: Last, ),
            voxel: Value(Gradient((
                modulation: Some(Random(percent_offset: 0.08)),
                steps: [
                    (percent: 0.55, voxel: (name: "bark_dark")),
                    (percent: 0.75, voxel: (name: "bark")),
                    (percent: 1.0, voxel: (name: "bark_bright")),
                ],
            ))),
        )),
    ],
)
